body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to bottom, #007ce7, #00e9ba7f, #ff7300d6); */
  background: aqua;
  border-radius: 2px;
  /*  border: 2px solid #b095d1; */
}

.header {
  background-color: #000;
  padding: 10px 0;
  width: 100%;

  position: fixed;
  z-index: 9;
  text-align: center;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  /* height: 20px; */
  background-color: #111;
  /* clip-path: polygon(0 0, 100% 0, 50% 100%); */
}
.header .logo {
  font-size: 2em;
  font-weight: bold;
  color: aqua;
  display: inline-block;
  cursor: pointer;
}
.header .nav {
  margin-top: 10px;
}
.header .nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.header .nav a:hover {
  color: aqua;
}
.header .social {
  position: absolute;
  top: 10px;
  right: 10px;
}
.header .social a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.2em;
}
.header .social a:hover {
  color: aqua;
}
.mySwiper {
  width: 100%;
  height: 95vh;
}
.myNewSwiper {
  width: 100%;
  height: 80vh;
}
.myNewSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #2c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper > .swiper-pagination span {
  background-color: aqua;
}

.about-btn {
  background-color: aqua;
  width: 15vh;
  height: 5vh;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.about-btn:hover {
  width: 15.2vh;
  height: 5.2vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title-top {
  margin: -20px;
  text-align: center;
}
.title {
  font-size: 2.5vh;
  position: relative;
  top: 5vh;
  color: aqua;
}
.subtitle {
  font-size: 6vh;
}
.image-gallery {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 2vh;
}
.image-ovr {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.overlay-im {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  transition: opacity 0.5s;
}
.overlay-im {
  display: flex;
  flex-direction: column;
}
.overlay-im h1 {
  color: aqua;
}
.overlay-im p {
  margin: 5px;
}
.image-item:hover .overlay-im {
  opacity: 1;
}
.image-item {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-item:hover {
  transform: scale(1.05);
}
.image-item img {
  width: 100%;
  height: auto;
}
.description {
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translate(12.5%);
}
.container-top {
  display: flex;
  flex-direction: row;
}
.container-top-2 {
  display: flex;
  flex-direction: column;
}
.game-card-1 {
  position: relative;
  width: 100%; /* Настройте ширину по необходимости */
  height: 58vh; /* Настройте высоту по необходимости */
  background-color: aqua;
}

.game-card-1 img {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 255, 255, 0.618);
  cursor: pointer; /* Синий цвет с прозрачностью */
  overflow: hidden;
  width: 60%;
  height: 15%; /* Начальная высота */
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding-left: 10px; */ /* Настройте отступ по необходимости */
}
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет фона */
  background-color: rgba(0, 0, 0, 0.4); /* Цвет фона с прозрачностью */
}

/* Модальное содержимое/коробка */
.modal-content {
  background-color: #0c0a0a22;
  margin: 8% auto; /* 15% сверху и центрирование */
  padding: 20px;
  /* border: 1px solid #1a1919; */
  width: 60%; /* Может быть изменено по желанию */
  height: 60%;
  position: relative;
  top: -10vh;
}
.modal-content iframe {
  width: 100%;
  height: 100%;
  position: relative;
  top: 5vh;
}

/* Кнопка закрытия (x) */
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s ease;
  position: relative;
  top: 7vh;
  right: -2.5vh;
}

.close:hover,
.close:focus {
  color: aqua;
  text-decoration: none;
  cursor: pointer;
}

.game-card-1:hover .overlay-1 {
  width: 100%;
  height: 100%; /* Полная высота при наведении */
  justify-content: center; /* Центрирование текста при наведении */
}

.overlay-1 .text {
  color: white;
  font-size: 20px; /* Настройте размер шрифта по необходимости */
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.overlay-1 .text:before {
  content: "▶";
  margin-right: 10px;
  padding-left: 15px;
}

.container-top {
  width: 100%;
  gap: 3vh;
}
.container-top-2 {
  width: 12%;
  height: 100vh;
  gap: 3vh;
}
.game-card {
  position: relative;
  width: 417%; /* Настройте ширину по необходимости */
  height: 27.5vh; /* Настройте высоту по необходимости */
  background-color: aqua;
}

.game-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 255, 255, 0.618);
  cursor: pointer; /* Синий цвет с прозрачностью */
  overflow: hidden;
  width: 60%;
  height: 30%; /* Начальная высота */
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: left;
  /* padding-left: 10px; */ /* Настройте отступ по необходимости */
}

.game-card:hover .overlay {
  width: 100%;
  height: 100%; /* Полная высота при наведении */
  justify-content: center; /* Центрирование текста при наведении */
}

.overlay .text {
  color: white;
  font-size: 20px; /* Настройте размер шрифта по необходимости */
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.overlay .text:before {
  content: "▶";
  margin-right: 10px;
  padding-left: 10px;
}
.container-teb {
  width: 58%;
  margin: 0 auto;
  padding: 1%;
  outline: 2px solid #555;
  position: relative;
  top: -40vh;
}

.tabs-teb {
  display: flex;
  /* justify-content: space-around; */
  width: 103%;
  margin-bottom: 20px;
  background-color: #000;
  position: relative;
  right: 1.5%;
  top: -1.6vh;
}

.tab-button-teb {
  background-color: rgb(0, 176, 176);
  color: #fff;
  width: 50%;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  outline: 2px solid #000000;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.tab-button-teb.active-teb {
  background-color: aqua;
}

.match-info-teb {
  display: flex;
  flex-direction: row;
}
.in-match {
  display: flex;
  flex-direction: column;
}

.match-info-teb h2,
.match-info-teb p {
  margin-left: 10px;
}

.det-match {
  width: 90%;
  text-align: end;
  margin-right: 20px;
  position: relative;
  left: 1vh;
}

.tab-content-teb {
  display: none;
}

.tab-content-teb.active-teb {
  display: block;
}

.tab-button-teb.active-teb {
  font-weight: bold;
}
.tab-button-teb {
  transition: transform 0.3s ease-in-out;
}

.tab-button-teb:hover {
  transform: scale(1.05);
}

.match-teb {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
}

.match-info-teb {
  flex: 1;
}

.match-info-teb h2 {
  margin: 0 0 10px;
}

.match-info-teb p {
  margin: 5px 0;
}

.teams-teb {
  display: flex;
  align-items: center;
}

.team-teb {
  text-align: center;
}

.team-teb img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.vs-teb {
  margin: 0 20px;
  font-size: 24px;
  font-weight: bold;
}
.container-myNewSwiper {
  position: relative;
  top: -40vh;
}
.myNewSwiper > .swiper-pagination span {
  background-color: aqua;
}
.swiper-2 {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
}
.swiper-2.swiper {
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
}

.myNewSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #731515;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease-in-out;
}

.myNewSwiper .swiper-slide:hover {
  transform: scale(1.05);
}
.swiper-slide-2 {
  width: 500px;
  height: 500px;
}
.faq-section-top {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: -35vh;
}
.faq-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*  gap: 20px; */
  justify-content: center;
  /* margin: 50px; */
}
.faq-item {
  padding: 20px;
  border: 1px solid #444;
  /* background-color: #222; */
}
.faq-item-1 {
  border-left: none;
  border-top: none;
}
.faq-item-2 {
  border-top: none;
  border-right: none;
}
.faq-item-3 {
  border-left: none;
  border-bottom: none;
}
.faq-item-4 {
  border-bottom: none;
  border-right: none;
}
.faq-item-A {
  text-align: end;
}
.faq-item-B {
}
.faq-item h2 {
  color: aqua;
}
.faq-item p {
  color: #aaa;
}

.section-3 {
  position: relative;
  background: url("your-background-image.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: #fff;
  top: -20vh;
}
.section-3 h1 {
  width: 50%;
  font-size: 5vh;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-117%);
}
.section-3 button {
  margin-top: 20px;

  padding: 10px 20px;
  font-size: 1rem;

  background-color: aqua;
  border: none;
  cursor: pointer;
  display: flex;
  position: relative;

  right: 24.5%;
  transform: translate(0%, 00%);
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.section-3 button:hover {
  padding: 10.2px 20.2px;
}
.stats {
  position: relative;
  /* left: 50vh; */
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  width: 80%;
  flex-direction: column;
  left: 50%;
  transform: translate(-55%);
}
.stats div {
  flex: 1;
  padding: 10px;
}

.stats p {
  margin-top: -18px;
  margin-bottom: -18px;
  color: #a7a6a6;
  /* border-bottom: 1px solid #8e8e8e; */

  width: 30%;
}
.sst-p {
  border-bottom: 1px solid #8e8e8e;
  position: relative;
  top: -10px;
  padding: 30px;
}
.testimonial {
  background: rgba(0, 0, 0, 0.8);
  padding: 5vh;
  margin-top: 20px;
  margin-bottom: -31vh;
  text-align: left;

  width: 45%;
  position: relative;
  top: -15vh;
  left: 50%;
  transform: translate(10%, -90%);
}
.mymySwiper h1 {
  font-size: 6vh;
  width: 6vh;
  color: aqua;
  position: relative;
  left: 1vh;
}
.mymySwiper p {
  position: relative;
  top: -4vh;
  font-size: 3vh;
  /* width: 6vh; */
  height: 15vh;
  width: 85%;
  text-align: left;
}
.swi-span {
  color: aqua;
  position: relative;

  font-size: 40vh;
  left: 50%;
  transform: translate(10%, 70%);
}
.mymySwiper > .swiper-pagination span {
  background-color: aqua;
  position: relative;
}

/* .swiper {
  width: 100%;
  height: 100%;
} */

.mymySwiper .swiper-slide {
  background-color: #000;
}
.recent-articles {
  text-align: center;
  padding: 50px 0;
}

.recent-articles h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.posts {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.post {
  background-color: #080808;

  overflow: hidden;
  width: 20%;
  height: 70vh;
}
.post-im {
  width: 100%;
  height: 50%;
  background-color: aqua;
}
.post img {
  width: 100%;
  height: auto;
}

.post-date {
  background-color: #cfcfcf;
  color: aqua;
  padding: 10px;
  font-size: vh;
  width: 60%;
  position: relative;

  left: 50%;
  transform: translate(-50%);
}

.post h3 {
  padding: 20px;
  font-size: 1.2em;
}
.map {
  position: relative;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 60%;
}
.map iframe {
  width: 100%;
  /* height: 60vh */
  transition: transform 0.3s ease-in-out;
}

.map iframe:hover {
  transform: scale(1.05);
}

.contact-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  /* padding: 20px; */
  width: 60%;
  left: 50%;
  transform: translate(33.5%, -80%);
}

.contact-info {
  width: 50%;
  /* max-width: 500px; */
  margin-right: 50px;
}

.contact-info h1 {
  color: aqua;
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.contact-form {
  background-color: #222;
  padding: 20px;
  /* border-radius: 8px; */
  /* max-width: 400px; */
  width: 50%;
}
/* .contact-form-1 {
  display: flex;
  flex-direction: row;
} */
.im-text {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.im-text:hover {
  transform: scale(1.05);
}
.im-email {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.im-email:hover {
  transform: scale(1.05);
}
.im-message {
  width: 95%;
  height: 15vh;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.im-message:hover {
  transform: scale(1.05);
}
.contact-form input,
.contact-form textarea {
  /*  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none; */
  /*  border-radius: 4px; */
}
/* .contact-form textarea {
  width: 95%;
  height: 15vh;
} */
.contact-form button {
  background-color: aqua;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.contact-form button:hover {
  transform: scale(1.05);
}

.contact-form button:hover {
  background-color: aqua;
}
.footer {
  background-color: #000;
  padding: 40px 0;
  color: white;
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .logo {
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.footer .column {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer .column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}
.footer .column p,
.footer .column a {
  color: white;
  margin: 5px 0;
  text-decoration: none;
  transition: color 0.3s;
  transition: transform 0.3s ease-in-out;
}

.footer .column a:hover {
  transform: scale(1.05);
}
.footer .column a:hover {
  color: aqua;
}
.footer .newsletter input[type="email"] {
  padding: 10px;
  width: 93%;
  margin-bottom: 10px;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.footer .newsletter input[type="email"]:hover {
  transform: scale(1.05);
}
.footer .newsletter input[type="submit"] {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.footer .newsletter input[type="submit"]:hover {
  transform: scale(1.05);
}
.footer .social {
  margin-top: 20px;
}
.footer .social a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}
.footer .social a:hover {
  color: aqua;
}
/* .fo-icon-tw {
  position: relative;

  width: 50px;
  height: 50px;
}
.fo-icon-fa {
  background-size: cover;
  width: 50px;
  height: 50px;
}
.fo-icon-pi {
  position: relative;

  width: 50px;
  height: 50px;
 }
.fo-icon-in {
  position: relative;
  background-color: #ff1010;
  width: 500px;
  height: auto;
  z-index: 999;
} */
.fo-icon {
  width: auto;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.fo-icon:hover {
  transform: scale(1.05);
}
.fo-icon2 {
  width: auto;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.fo-icon2:hover {
  transform: scale(1.05);
}
.footer .copyright {
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
